<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Html5-Less Demo</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link rel="shortcut icon" href="" type="image/x-icon">
    <link rel="icon" href="" type="image/x-icon">

    <!-- Fonts -->
    <link rel="stylesheet" href=""> 
    
     <!-- Stylesheets -->
    <link href='../bower_components/bootstrap/dist/css/bootstrap.min.css' rel='stylesheet' type='text/css'>    

    <link rel="stylesheet" href="css/styles.min.css"> 
  </head>
  <body>

    <h1>Hello world! This is Html5-Less Demo.</h1>
  
    <!-- Bower Components -->
    <script src="../bower_components/html5shiv/dist/html5shiv-printshiv.min.js"></script>
    <script src="../bower_components/jquery/jquery.min.js"></script>
    <script src="../bower_components/respond/dest/respond.min.js"></script>
  
    <!-- Scripts -->
    <script src="js/app.min.js"></script>
  </body>
</html>