<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Gulp HTML5 LESS</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link rel="shortcut icon" href="" type="image/x-icon">
    <link rel="icon" href="" type="image/x-icon">

    <!-- Fonts -->
    <link rel="stylesheet" href=""> 
    
     <!-- Stylesheets -->
    <link rel="stylesheet" href="css/vendor.min.css"> 
    <link rel="stylesheet" href="css/styles.min.css"> 

  </head>
  <body>

    <h1>Hello world! This is gulp-html5-less Demo.</h1>
    <h2>You can start with typing in your terminal "gulp"</h2>

    <!-- Scripts -->
    <script src="js/vendor.min.js"></script>
    <script src="js/app.min.js"></script>
  </body>
</html>